:root {
    --main-color-darkblue-alpha: rgba(27, 27, 50, 0.8);
    --main-color-darkblue: rgb(27, 27, 50);
}

html {
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}
/* body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(#1b1b32);
    background-image: linear-gradient(
        115deg,
        rgba(58, 58, 158, 0.8),
        rgba(136, 136, 206, 0.7)
      ),
      url("../images/background1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
} */
body {
    background-color: var(--main-color-darkblue);
    background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)), url("https://raw.githubusercontent.com/DavidGCC/fcc-SurveyPage/master/resources/images/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.wholeGroup {
    width: 100%;
    margin: 6rem auto 0 auto;
}
@media only screen and (min-width: 576px) {
    .wholeGroup {
        max-width: 540px;
    }
}
@media only screen and (min-width: 768px) {
    .wholeGroup {
        max-width: 1400px;
    }
}
.center {
    text-align: center;
}
header {
    width: 100%;
    margin: 0 auto;
    color: white;
}
#title {
    font-size: 2.125rem;
    padding: 0;
    margin: 0;
}
#description {
    font-weight: 100;
    font-style: italic;
    font-size: 1.315rem;
    padding: 0;
    margin: 0;
}
form {
    display: flex;
    width: 50%;
    background-color: var(--main-color-darkblue-alpha);
    margin: 0 auto;
    justify-content: center;
    border-radius: 0.5rem;
    flex-direction: column;
    min-width: fit-content;
}
.group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-weight: 280;
    font-size: 1.5rem;
    color: #f3f3f3;
    margin: 2rem 3rem 0 3rem;
}
.radioGroup {
    font-weight: 280;
    font-size: 1.5rem;
    color: #f3f3f3;
    margin: 2rem 3rem 0 3rem;
    text-align: center;
}

.radioMainGroup {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-around;
    row-gap: 0.5rem;
    margin: 1rem;
}

.labelStyle {
    margin: 0.5rem 0;
}

.radioStyle {
    transform: scale(1.5);
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.headerLabel {
    width: 100%;
    font-size: 1.8rem;
}
.radioContentGroup {
    display: flex;
}

.inputStyle {
    height: 1rem;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.4rem;
    border: none;
    transition: border 0.15s ease-in;
}

.inputStyle:focus {
    border: 5px solid var(--main-color-darkblue-alpha);
    outline: none;
    outline-offset: 0;
}
.dropdownStyle {
    width: 30%;
    height: 2rem;
    padding: 0.2rem;
    font-size: 1rem;
}
.dropdownStyle:nth-child(1) {
    color: rgb(160, 160, 160);
}
.textareaStyle {
    min-height: 8rem;
    padding: 0.5rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    border-radius: 0.5rem;
    transition: border 0.15s ease-in-out;
    width: 100%;
}
.textareaStyle:focus {
    outline: none;
    border: 5px solid var(--main-color-darkblue-alpha);
}
.submitStyle {
    width: 30%;
    height: 3rem;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5rem;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    outline: none;
    box-shadow: 0.2rem 0.2rem 0.1rem #1b1b32;
    border-radius: 1rem;
    border: none;
    background-color: #65a851;
    transition: background-color 0.15s ease-in;
}
.submitStyle:hover {
    background-color: #426e35;
    transition: background-color 0s ease-in;
}
.submitStyle:focus {
    box-shadow: inset;
    background-color: #ffffff;
}
@media only screen and (max-width: 980px) {
    .radioMainGroup {
        display: grid;
        grid-template-columns: auto;
        justify-content: space-around;
        row-gap: 0.5rem;
        margin: 1rem;
    }
}
@media only screen and (max-width: 1300px) {
    .dropdownStyle {
        width: auto;    
        height: 2rem;
        padding: 0.2rem;
        font-size: 1rem;
    }
}
@media only screen and (max-width: 800px) {
    .container {
        margin: 0;
    }
    #submit {
        width: 35vw;
    }
}
@media only screen and (max-width: 440px) {
    .radioGroup {
        width: 80%;
        margin: 0 auto;
    }
}
@media only screen and (max-width: 390px) {
    * {
        font-size: 5vw; 
    }
}